<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/head') %>
    <title>
      <%= title %>
    </title>
</head>

<body>
  <%- include('../partials/nav') %>

    <div class="container">
      <div class="center-align" style="margin-top: 40px;">
        <ul class="collection">
          <% for( let index = 0; index < books.length; index++ ) { %>
              <li class="collection-item">
          <a href="/books/<%= books[index].id %>"><strong><%= books[index].title %></strong> by <%= books[index].author %></a>
          <div style="margin-left: 50px;">
              <span style="font-size: smaller;color: lightseagreen;">
                      Created by: <strong>
                          <!-- turnary operator for two scenarios -->
                          <%= books[index].createdBy ? books[index].createdBy.username : 'Unknown' %>
                      </strong>
                  </span>
                  <span style="font-size: smaller;color: lightseagreen;">
                      <%= books[index].formattedDate ? books[index].formattedDate : 'Date not available' %>
                  </span>
          </div>
          </li>
          <% } %>
      </ul>
      </div>
      <a href="/books/new" class="btn blue darken-1">Add New Book</a>

</body>

</html>