<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/head') %>
    <title>
      <%= title %>
    </title>
</head>

<body>
  <%- include('../partials/nav') %>

  <div class="container">
    <h1 class="center-align">Books List</h1>
    <ul class="collection">
        <% books.forEach(book => { %>
        <li class="collection-item">
            <a href="/books/<%= book._id %>">
                <strong><%= book.title %></strong> by <%= book.author %>
            </a>
            <div class="book-container">
                <span class="created-by">
                    Created by: <strong>
                        <%= book.createdBy ? book.createdBy.username : 'Unknown' %>
                    </strong>
                </span>
                <span class="created-by">
                    <%= book.formattedDate ? book.formattedDate : 'Date not available' %>
                </span>
            </div>
            <% book.comments.forEach(comment => { %>
            <p class="comment">
                <% if (comment.createdBy) { %>
                <%= comment.createdBy.username %>
                <% } %>
                <%= comment.content %>
            </p>
            <% }) %>
            <form action="/books/<%= book._id %>/comments" method="POST">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">comment</i>
                                <textarea name="content" id="icon_prefix2"
                                    class="tiny materialize-textarea"></textarea>
                                <input class="comment-input" type="submit" value="Comment">
                            </div>
                        </div>
                    </form>
                </div>
            </form>
        </li>
        <% }); %>
    </ul>
    <div class="center-align">
        <a href="/books/new" class="btn waves-effect waves-light teal">Add a New Book</a>
    </div>
</div>

</body>

</html>