<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/head') %>
    <title>
      <%= title %>
    </title>
</head>

<body>
  <%- include('../partials/nav') %>
    <div class="container">
      <div class="card">
        <div class="card-content">
          <header>
            <h1 class="center-align">
              <%= book.title %>
            </h1>
          </header>
          <div class="container row">
            <div class="col s3">
              <img class="responsive-image" src="<%= book.coverImage %>" alt="<%= book.title %>"
                style="max-height: 200px;">
            </div>
            <div class="left-align col s9">
              <div class="book-details">
                <p><strong>Author:</strong>
                  <%= book.author %>
                </p>
                <p><strong>Published:</strong>
                  <%= book.published %>
                </p>
                <%- book.description %>
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="center-align" style="margin-top: 40px;">
      <a href="/books" class="btn blue darken-1">REturn to Books Page</a>
      <a href="/books/<%= book.id %>/edit" class="btn waves-effect waves-light orange">Edit Book</a>
    </div>
</body>

</html>